@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

/* Resetear margenes y padding por defecto */
body {
  margin: 0;
  padding: 0;
}

/* Definicion de estilos para el contenedor */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Definicion de estilos para el titulo */
.container h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 60px;
  margin: 0;
}

/* Definicion de estilos para el contenedor de cuadros */
.box {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  justify-content: center;
  align-items: center;
  box-shadow: -20px 20px 0px #000000;
  border: 1.5px solid #000000;
  width: 305px;
}

/* Definicion de estilos para cada cuadro */
.box div {
  height: 100px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid black;
}

/* Definicion de estilos para el texto */
.container p {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  margin: 40px 0 0 0;
}

/* Definicion de estilos para el boton */
.container button {
  width: 140px;
  height: 40px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  margin: 30px;
  border: 2px solid #000000;
  box-shadow: -10px 10px 0px #000000;
  background: #fff;
}

/* Media queries para dispositivos con un ancho maximo de 540px */

@media only screen and (max-width:540px) {
    /* Redimensionamiento del título */
    .container h1 {
    font-size: 40px;
    text-align: center;
    }
    
    /* Redimensionamiento del contenedor de cuadros */
    .box {
    width: 245px;
    }
    
    /* Redimensionamiento de las cajas */
    .box div {
    height: 80px;
    width: 80px;
    font-size: 30px;
    }
    
    /* Redimensionamiento del botón */
    .container button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin: 40px;
    }
    }
    
    
    
    
