@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    margin: 1.5%;
}

.header h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
}

.box{
    width: calc(100vw - 10rem);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: inset 0px 1px 4px 0 rgba(0, 0, 0, 0.8);
    padding: 2%;
}

.box .row{
    display: flex;
    gap: 15px;
}

.row .btn{
    width: calc(100% / 3);
    height: 160px;
    border-radius: 1.5rem;
    border: 1 solid #aaa;
}

.row .btn:hover{
    cursor: pointer;
    background-color:cadetblue;
}

.result{
    text-align: center;
}

.reset{
    text-align: center;
    margin: 10px 0 ;
}

#reset{
    cursor: pointer;
    color:black;
    background: #aaa;
    border-radius: 0.5rem;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 7px 0;
    transition: all 0.8s ease-in-out;
}

#reset:hover{
    color:#fff;
    background: #000;
}